/* CSS Document  */

html {
	background-image: url(../img/lines_background.jpg);
	background-position:center;
	background-repeat: repeat;
		
}

.navbar-inverse {
  background-color: #0D2B21;
}

.body-container {
  margin-top: 5% !important;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{
	img {
 	 width: 50px;
  	 height: auto;
   	 margin-top:10px; 
  	 margin-left:70px; 
  	 float: left;
	}
	
	h1 {
	font-family: "Vladimir Script";
	text-align:center;
	font-weight: bold;
	color: #000; 
	font-size: 1.5em;
	margin-top: 5%
	}
	
	.box {
   	width: 280px;
   	height: 340px;
   	border:1px;
   	background-color: #CCC;
   	margin-top:120px; 
   	margin-left:20px; 
   	border:2px solid black;
	} 
	
	p {
	font-family: Helvetica,serif;
	font-size: .80em;
	text-align: justify;
	/* [disabled]color: #000; */
	font-weight: bold;
	}
	
	.bot-p{
	font-family: Helvetica,serif;;
	font-size: .80em;
	color: #000;
	font-weight: bold;
	}
	
	.books-list {
	font-family: Helvetica,serif;;
	font-size: .80em;
	text-align: left;
	color: #000;
	font-weight: bold;	
	}

	a {
	font-family: Helvetica,serif;
	font-size: .80em;
	text-align: justify;
	color: #C3C;
	font-weight: bold;
	margin: 5px;	
	}
	
	a:hover {
    color: #606; 
	}

	.contactme {
	font-family: Helvetica,serif;
	font-size: 8px;
	color: #000;
	font-weight: bold;
	}
	
	.box-contact {
   	width: 150px;
   	height: 160px;
   	border:1px;
	margin-top: 50;
   	margin-left: 75;
   	background-color: #CCC;
   	border:2px solid black;
	} 
	

  #form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:20px;
    width: 150px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:30px;
    margin-left: -260px;
  }
	
	 .contact-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 8px;
    line-height: 10px;
    background-color: #fbfbfb;
    padding: 1px 1px 1px 1px;
    margin-bottom: 1px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }
	
	 textarea {
      width: 100%;
      height: 40px;
      line-height: 100%;
      resize:vertical;
  }
  input:hover, textarea:hover,
  input:focus, textarea:focus {
  background-color:white;
  }


  #button-send{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 30%;
    border: #fbfbfb solid 1px;
    cursor:pointer;
    background-color: #939;
    color:white;
    font-size:9px;
    padding-top:3px;
    padding-bottom:3px;
    margin-top:-8px;
	margin-left:100px;
	text-align:center;
    font-weight:700;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 3px 0px rgba(128,0,128,1);
	-moz-box-shadow: 0px 3px 0px rgba (128,0,128,1);
	box-shadow: 0px 3px 0px rgba (128,0,128,1);
	}

   #button-send:hover {
    margin-top: 0.75px;
	background-color: #969;
	}
  
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{
	
	img {
 	 width: 100px;
  	 height: auto;
   	 margin-top:10px; 
  	 margin-left:70px; 
  	 float: left;
	}
	
	h1 {
	font-family: "Vladimir Script";
	text-align:center;
	font-weight: bold;
	color: #000; 
	font-size: 1.5em;
	margin-top: 5%
	}
	
	.box {
   	width: 360px;
   	height: 340px;
   	border:1px;
   	background-color: #CCC;
   	margin-top:190px; 
   	margin-left:20px; 
   	border:2px solid black;
	} 
	
	p {
	font-family: Helvetica,serif;
	font-size: .90em;
	text-align: justify;
	/* [disabled]color: #000; */
	font-weight: bold;
	}
	
	.bot-p{
	font-family: Helvetica,serif;;
	font-size: .90em;
	color: #000;
	font-weight: bold;
	}
	
	.books-list {
	font-family: Helvetica,serif;;
	font-size: .75em;
	text-align: left;
	color: #000;
	font-weight: bold;	
	}

	a {
	font-family: Helvetica,serif;;
	font-size: .90em;
	text-align: justify;
	color: #C3C;
	font-weight: bold;
	margin: 5px;	
	}
	
	a:hover {
    color: #606; 
	}
	
	.contactme {
	font-family: Helvetica,serif;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	}
	
	.box-contact {
   	width: 220px;
   	height: 200px;
   	border:1px;
	margin-top: 50;
   	margin-left: 90;
   	background-color: #CCC;
   	border:2px solid black;
	} 
	

  #form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:30px;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:50px;
    width: 200px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:50px;
    margin-left: -260px;
  }
	
	 .contact-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 10px;
    line-height: 14px;
    background-color: #fbfbfb;
    padding: 3px 3px 3px 3px;
    margin-bottom: 3px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }
	
	 textarea {
      width: 85%;
      height: 40px;
      line-height: 100%;
      resize:vertical;
  }
  
  input:hover, textarea:hover,
  input:focus, textarea:focus {
  background-color:white;
  }


  #button-send{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 30%;
    border: #fbfbfb solid 1px;
    cursor:pointer;
    background-color: #939;
    color:white;
    font-size:10px;
    padding-top:3px;
    padding-bottom:3px;
    margin-top:-8px;
	margin-left:100px;
	text-align:center;
    font-weight:700;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 5px 0px rgba(128,0,128,1);
	-moz-box-shadow: 0px 5px 0px rgba (128,0,128,1);
	box-shadow: 0px 5px 0px rgba (128,0,128,1);
	}

   #button-send:hover {
    margin-top: 0.75px;
	background-color: #969;
	}
  
  
}	
/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{
    img {
 	 width: 255px;
  	 height: 160px;
   	 margin-top:10px; 
  	 margin-left:70px; 
  	 float: left;
	}

   h1 {
	font-family: "Vladimir Script";
	text-align:center;
	font-weight: bold;
	color: #000; 
	font-size: 3em;
	margin-top: 5%
	}
	
	.box {
   	width: 600px;
   	height: 350px;
   	border:1px;
   	background-color: #CCC;
   	margin-top:400px; 
   	margin-left:70px; 
   	border:2px solid black;
	} 
	
   p {
	font-family: Helvetica,serif;
	font-size: 16px;
	text-align: justify;
	/* [disabled]color: #000; */
	font-weight: bold;
	}
	
	.bot-p{
	font-family: Helvetica,serif;;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	}

   .books-list {
	font-family: Helvetica,serif;;
	font-size: 16px;
	text-align: left;
	color: #000;
	font-weight: bold;	
	}

	a {
	font-family: Helvetica,serif;;
	font-size: 16px;
	text-align: justify;
	color: #C3C;
	font-weight: bold;
	margin: 10px;	
	}
	
     a:hover {
    color: #606; 
	}
  	.contactme {
	font-family: Helvetica,serif;
	font-size: 13px;
	color: #000;
	font-weight: bold;
	}
	
	.box-contact {
   	width: 300px;
   	height: 250px;
   	border:1px;
	margin-top: 90;
   	margin-left: 200;
   	background-color: #CCC;
   	border:2px solid black;
	} 
	

  #form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:30px;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:50px;
    width: 450px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:30px;
    margin-left: -260px;
  }
	
	 .contact-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 13px;
    line-height: 18px;
    background-color: #fbfbfb;
    padding: 5px 5px 5px 5px;
    margin-bottom: 3px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }
	
	 textarea {
      width: 85%;
      height: 60px;
      line-height: 100%;
      resize:vertical;
  }
  
  input:hover, textarea:hover,
  input:focus, textarea:focus {
  background-color:white;
  }


  #button-send{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 30%;
    border: #fbfbfb solid 1px;
    cursor:pointer;
    background-color: #939;
    color:white;
    font-size:13px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:-8px;
	margin-left:100px;
	text-align:center;
    font-weight:700;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 0px rgba(128,0,128,1);
	-moz-box-shadow: 0px 6px 0px rgba (128,0,128,1);
	box-shadow: 0px 6px 0px rgba (128,0,128,1);
	}

   #button-send:hover {
    margin-top: 0.75px;
	background-color: #969;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
	img {
 	 width: 200px;
  	 height: auto;
   	 margin-top:0px; 
  	 margin-left:20px; 
	 
	}

   h1 {
	font-family: "Vladimir Script";
	text-align:center;
	font-weight: bold;
	color: #000; 
	font-size: 5pc;
	
	}


  .box {
   	width: 800px;
   	height: 320px;
   	border:1px;
   	background-color: #CCC;
   	margin-top: 250;
   	margin-left: 50;
   	border:2px solid black;
	} 
	
   p {
	font-family: Helvetica,serif;
	font-size: 16px;
	text-align: justify;
	/* [disabled]color: #000; */
	font-weight: bold;
	}
	
   .bot-p{
	font-family: Helvetica,serif;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	}

   .books-list {
	font-family: Helvetica,serif;
	font-size: 16px;
	text-align: left;
	color: #000;
	font-weight: bold;	
	}

	a {
	font-family: Helvetica,serif;
	font-size: 16px;
	text-align: justify;
	color: #C3C;
	font-weight: bold;
	margin: 50px;	
	}
	
	a:hover {
    color: #606; 
	}
	
  	.contactme {
	font-family: Helvetica,serif;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	}
	
	.box-contact {
   	width: 320px;
   	height: 300px;
   	border:1px;
	margin-top: 100;
   	margin-left: 250;
   	background-color: #CCC;
   	border:2px solid black;
	} 
	

  #form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:30px;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:50px;
    width: 300px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:30px;
    margin-left: -260px;
  }
	
	 .contact-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 13px;
    line-height: 13px;
    background-color: #fbfbfb;
    padding: 10px 10px 10px 10px;
    margin-bottom: 1px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }
	
	 textarea {
      width: 100%;
      height: 70px;
      line-height: 100%;
      resize:vertical;
  }
  
  input:hover, textarea:hover,
  input:focus, textarea:focus {
  background-color:white;
  }


  #button-send{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 30%;
    border: #fbfbfb solid 1px;
    cursor:pointer;
    background-color: #939;
    color:white;
    font-size:13px;
    padding-top:5px;
    padding-bottom:5px;
    margin-top:-8px;
	margin-left:100px;
	text-align:center;
    font-weight:700;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 7px 0px rgba(128,0,128,1);
	-moz-box-shadow: 0px 7px 0px rgba (128,0,128,1);
	box-shadow: 0px 7px 0px rgba (128,0,128,1);
	}

   #button-send:hover {
    margin-top: 0.75px;
	background-color: #969;
	}
}

/* Large Devices, Wide screens */
@media only screen and (min-width : 1200px)
{
	img {
 	 width: 200px;
  	 height: auto;
   	 margin-top:0px; 
  	 margin-left:100px; 
	 
	}

   h1 {
	font-family: "Vladimir Script";
	text-align:center;
	font-weight: bold;
	color: #000; 
	font-size: 5pc;
	 margin-top:0px; 
	
	}


  .box {
   	width: 800px;
   	height: 320px;
   	border:1px;
   	background-color: #CCC;
   	margin-top: 250;
   	margin-left: 250;
   	border:2px solid black;
	} 
	
   p {
	font-family: Helvetica,serif;
	font-size: 16px;
	text-align: justify;
	/* [disabled]color: #000; */
	font-weight: bold;
	}
	
   .bot-p{
	font-family: Helvetica,serif;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	}

   .books-list {
	font-family: Helvetica,serif;
	font-size: 16px;
	text-align: left;
	color: #000;
	font-weight: bold;	
	}

	a {
	font-family: Helvetica,serif;
	font-size: 16px;
	text-align: justify;
	color: #C3C;
	font-weight: bold;
	margin: 50px;	
	}
	
	a:hover {
    color: #606; 
	}
	
	.contactme {
	font-family: Helvetica,serif;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	}
	
	.box-contact {
   	width: 400px;
   	height: 340px;
   	border:1px;
	margin-top: 120;
   	margin-left: 500;
   	background-color: #CCC;
   	border:2px solid black;
	} 


  #form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:30px;
    padding-right:30px;
    padding-top:30px;
    padding-bottom:50px;
    width: 450px;
    float: left;
    left: 50%;
    position: relative;
    margin-top:30px;
    margin-left: -260px;
  }
	
	 .contact-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 16px;
    line-height: 16px;
    background-color: #fbfbfb;
    padding: 10px 10px 10px 10px;
    margin-bottom: 8px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
  }
	
	 textarea {
      width: 100%;
      height: 80px;
      line-height: 100%;
      resize:vertical;
  }
  
  input:hover, textarea:hover,
  input:focus, textarea:focus {
  background-color:white;
  }

  #button-send{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 40%;
    border: #fbfbfb solid 1px;
    cursor:pointer;
    background-color: #939;
    color:white;
    font-size:16px;
    padding-top:8px;
    padding-bottom:8px;
    margin-top:-8px;
	margin-left:100px;
	text-align:center;
    font-weight:700;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 7px 0px rgba(128,0,128,1);
	-moz-box-shadow: 0px 7px 0px rgba (128,0,128,1);
	box-shadow: 0px 7px 0px rgba (128,0,128,1);
}

	}
  	
   #button-send:hover {
    margin-top: 0.75px;
	background-color: #969;
	}
}
}
